<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>FESTŐI - Home page</title>
</head>
<body>
<header>
    <div class="logo-container">
        <img src="/logos/Festoi.png" alt="FESTŐI Logo">
        <h1 class="brand-name">FESTŐI</h1>
    </div>
    <nav id="main-nav">
        <a href="#">Home</a>
        <a href="/festoi/signup">Sign Up</a>
        <a href="/festoi/login">Login</a>
        <a href="#">About Us</a>
    </nav>
</header>
<div class="paintings-container" id="paintings-container">
    <!-- Add paintings here -->

    <!-- Add more paintings here -->
</div>
<script src="/script/script.js"></script>
</body>
</html>
